.about-programming-one {
  background-image: url("/portfolio-CV-/assets/background-img-two.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.about-programming-one h1 {
  color: rgb(53, 53, 53);
}

.about-programming-two {
  background-color: rgb(53, 53, 53);
  padding: 5rem 2rem;
  @media screen and (max-width: 900px) {
    padding: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.about-programming-two p {
  width: 55%;
  @media screen and (max-width: 900px) {
    width: 90%;
    text-align: center;
  }
}

.dance-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: #686868;
  padding: 4rem 3rem;
  height: fit-content;
  padding-right: 10rem;
  padding-left: 10rem;
  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    padding: 1rem;
  }
}

.dance-image {
  display: block;
  object-fit: cover;
  max-width: 60%;
  @media screen and (max-width: 900px) {
    max-width: 90%;
  }
}

.dance-content p {
  display: block;
  max-width: 700px;
  font-size: 1.25rem;
  line-height: 1.5;
  color: rgb(204, 204, 204);
  margin: 0;
  @media screen and (max-width: 900px) {
    text-align: center;
  }
}
.dance-content a {
  @media screen and (max-width: 900px) {
    display: flex;
    justify-content: center;
  }
}

.dance-content p .inline-link {
  color: rgb(204, 204, 204);
  text-decoration: underline;
}

.dance-content p .inline-link:hover {
  opacity: 0.8;
}
