.dance {
  background-image: url(../../../public/assets/dance-background.jpg);
}

.dance h1 {
  color: #686868;
}

.dance-content-one {
  background-color: #686868;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 8rem;
  @media screen and (max-width: 1400px) {
    padding: 3rem 5rem;
  }
  @media screen and (max-width: 1100px) {
    padding: 2rem;
  }
  @media screen and (max-width: 900px) {
    padding: 2rem 0;
  }
}

.dance-content-one p {
  width: 50%;
  font-size: 1.25rem;
  color: rgb(204, 204, 204);
  @media screen and (max-width: 1100px) {
     width: 90%;
     text-align: center;
  }
}

.dance-content-two h2 {
  font-size: 6rem;
  color: #aaaaaa;
  @media screen and (max-width: 1400px) {
    font-size: 5rem;
  }
  @media screen and (max-width: 1100px) {
    font-size: 3.5rem;
  }
  @media screen and (max-width: 900px) {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
}

.dance-content-two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: fit-content;
  flex-wrap: wrap;
  background-color: rgb(53, 53, 53);
  @media screen and (max-width: 1400px) {
    gap: 2rem;
  }
  @media screen and (max-width: 1100px) {
    gap: unset;
    justify-content: space-between;
  }
  @media screen and (max-width: 1100px) {
    gap: unset;
    justify-content: center;
  }
}

.dance-content-two img {
  display: block;
  object-fit: cover;
  @media screen and (max-width: 1100px) {
    max-width: 90%;
    height: auto;
    text-align: center;
  }
  @media screen and (max-width: 900px) {
    width: 90%;
    height: auto;
  }
}

.dance-content-two a {
  @media screen and (max-width: 1100px) {
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (max-width: 900px) {
    justify-content: center;
  }
}
