.about-programming {
  margin-top: 3rem;
  margin-bottom: 5rem;
    @media screen and (max-width: 900px) {
    margin: 0rem;
  }
}

.projects {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .project-name a {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: rgb(204, 204, 204);
}
