body {
  margin: 0;
  background-color: #686868;
  font-size: 16px;
}

#root {
  padding-bottom: 0;
  margin-bottom: 0;
}

.block {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.block h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

.block p {
  font-size: 1.25rem;
}

.img-background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.img-background h1 {
  /* font-size: 20rem; */
  margin-top: 2rem;
  margin-bottom: 0;
}

h1 {
  font-size: 20rem;
  line-height: 1;
  margin: 0 0 3rem 0;
  @media screen and (max-width: 1400px) {
    font-size: 12rem;
  }
  @media screen and (max-width: 900px) {
    font-size: 8rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 4rem;
  }
}
