body {
  margin: 0;
  background-color: #686868;
}

#root {
  padding-bottom: 0;
  margin-bottom: 0;
}

.block {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

.block p {
  font-size: 1.25rem;
}

.img-background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.img-background h1 {
  font-size: 20rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
